:root{
    --color-light: #FFF;
    --color-dark: #2C2D35;
    --color-accent: #598D66;
    --color-gold: #EEDB6D;
    --color-light-grey: #86928B;    
    
    --transition-duration: 0.2s;

    --font-family-base: 'Raleway';    
    --font-size-base: 18px;
    --font-size-second-title: 40px;

    --conteiner-pddingY: 165px;
    --conteiner-max-width: 1110px;

    --button-heught: 65px;
    --button-border: 1px solid var(--color-accent);
    --button-padding: 20px 60px;
}